.main {
  position: relative;
  max-width: 500px;
  height: calc(100vh - $header-height);
  padding: 20px;
  margin: 0 auto;
  z-index: 10;
}
.header__wrap {
  width: 500px;
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width:500px){
  .main,
  .header__wrap {
    width: 100%;
  }
}
