:root {
}
$header-height: 80px;
$main-header-height: 160px;
$nav-width: 260px;

$primary: #4a3780;
$default: #fff;
$brand: #727dff;
$sub: #f1f5f9;

$bg-default: #f8f8f8;
$border-default: #e1e1e1;

$text-default: #303030;
$text-gray1: #646464;
$text-gray2: #909090;
$text-gray3: #a9a9a9;
$text-gray4: #fff;
