:root {

}

$primary: #6af2b0;
$primary-0: $primary;
$primary-1: #f0fef7;
$primary-2: #e1fcef;
$primary-3: #d3fbe7;
$primary-4: #c3fadf;
$primary-5: #b5f9d8;
$primary-6: #a6f7d0;
$primary-7: #97f6c8;
$primary-8: #88f5c0;
$primary-9: #79f3b8;
