:root {
}

$primary: #f2f3fe;
$default: #fff;
$brand: #727dff;
$sub: #babee8;

$bg_default: #f8f8f8;
$border_default: #f2f2f2;

$text_default: #303030;
$text_gray1: #646464;
$text_gray2: #909090;
$text_gray3: #a9a9a9;
