@import '@/assets/scss/style.scss';

.detail {
  &__wrap {
    padding: 20px 24px;
    margin-bottom: 12px;
    border: 1px solid $border-default;
    border-radius: 8px;
    box-sizing: border-box;
  }

  &__title {
    margin-bottom: 16px;
    &_box {
      margin-top: 12px;
      padding: 16px;
      border-radius: 16px;
      background: $default;
      @include shadow-opt('center', 1);
    }
  }

  &__content {
    width: 100%;
    min-height: 60vh;
    padding: 12px 16px;
    border-radius: 16px;
    background: $default;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    @include shadow-opt('center', 1)
  }
  &__btn_wrap {
    @include flex-box(flex-start);
    position: relative;
    width: 100%;

    button {
      display: inline-block;
      height: 36px;
      line-height: 36px;
      padding: 0 12px;
      margin-right: 8px;
      border-radius: 8px;
      background: $brand;
      color: $text-gray4;
    }
  }
  &__btn-list {
    position: absolute;
    right: 0;
  }
}
