@import '@/assets/scss/style.scss';

.card {
  margin-bottom: 80px;
  &:first-child {
    margin-top: -60px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__list_wrap {
    padding: 8px 20px;
    border-radius: 16px;
    background: #fff;
    overflow: hidden;
    @include shadow-opt('bottom', 1);
  }
  &__list_top {
    border-bottom: 1px solid $border-default;
    font-weight: 700;
  }
  &__list {
  }
  &__lst {
    @include flex-box(flex-start, center);
    position: relative;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid $border-default;

    &:last-child {
      border-bottom: 0;
    }

    div {
      padding: 0 12px;
    }
    &:hover {
      background: $bg-default;
    }
  }

  &__box {
  }
  &__content_title {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    color: $text-default;
  }
  &__content_date {
    font-size: 13px;
    color: 400;
    color: $text-gray2;
  }
  &__content_check {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }
  &__content_check {
    @include flex-box(center, center);
    flex: 0 0 80px;
    width: 80px;
  }
}
