@import '@/assets/scss/style.scss';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  position: relative;
  height: calc(100vh - $header-height);
  margin: $header-height auto 0;
  padding: 20px;
}
