@import '@/assets/scss/style.scss';

.header {
  @include flex-box(space-between, flex-start);
  width: 100%;
  height: $header-height;
  padding: 24px 30px 16px;
  border-bottom: 1px solid $border-default;
  background: $primary;
  z-index: 10;
  font-family: 'gmarket';

  &-main {
    height: $main-header-height;
  }
  &__title {
    display: inline-block;
    padding: 0 8px;
    font-size: 24px;
    font-weight: 700;
    color: $text-gray4;
    cursor: pointer;
  }
  &__box {
    @include flex-box(flex-end, center);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    text-align: center;

    &_box {
      padding: 0 4px;
      color: $text-gray4;
    }
  }
}
